{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Ferrari</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, unde! Explicabo, incidunt accusantium. Voluptate cumque hic vitae sed, voluptatum recusandae, harum qui corporis, minima dicta consectetur. Quos minus harum mollitia?</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/images/matt-lamers-SPbcqTVoYqE-unsplash.jpg" alt="Ferrari">
    </div>
</div>

{{> footer }}
